<!DOCTYPE html>
<html>
<head>
  <title>RailsContentIssue2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- example -->
<script><%= all_content_for(:javascript) %></script>
<script><%= all_content_for(:javascript2) %></script>
<% # BLOC
   #binding.pry %>
<pre>Layout all_content_for :javascript: <%= all_content_for(:javascript).inspect %></pre>
<pre>Layout all_content_for :javascript2: <%= all_content_for(:javascript2).inspect %></pre>

<%= yield %>

</body>
</html>
