<!DOCTYPE html>
<html>
<head>
  <title>RailsContentIssue2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- example -->
<script><%= yield(:javascript) %></script>
<script><%= yield(:javascript2) %></script>
<script><%= content_for(:javascript2) %></script>
<% # BLOC
   binding.pry %>
<pre>Layout yield :javascript: <%= yield(:javascript).inspect %></pre>
<pre>Layout yield :javascript2: <%= yield(:javascript2).inspect %></pre>

<%= yield %>

</body>
</html>
