<!DOCTYPE html>
<html>
<head>
  <title>RailsContentIssue</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<script><%= yield(:javascript) %></script>
<script><%= yield(:javascript2) %></script>
<pre>Layout yield :javascript: <%= yield(:javascript).inspect %></pre>
<pre>Layout yield :javascript2: <%= yield(:javascript2).inspect %></pre>


<%= yield %>

</body>
</html>
